{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'data_reader/css/style.css' %}" />

<head>
{% block title %}
{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">SME - UnB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'transductor:index'%}">Transductors</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
            </div>
          </div>
        </nav>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% block body %}
{% endblock %}
</body>
