{% extends 'base.html' %}

{% block title %}
    <title>SME - UnB</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>SME - UnB is a web platform to monitor measurements from energy transductors.</p>
    <p><a class="btn btn-primary btn-lg" href="https://gitlab.com/brenddongontijo/SME-UnB" role="button">Learn more &raquo;</a></p>
  </div>
</div>
{% endblock %}
